version: '3'
services:
 mongodb:
 image: mongo:3.4.1
# volumes:
# /apps/easy-mock/data/db是数据库⽂件存放地址，根据需要修改为本地地址
# - '/apps/easy-mock/data/db:/data/db'
 networks:
 - easy-mock
 restart: always
 redis:
 image: redis:4.0.6
 command: redis-server --appendonly yes
# volumes:
# /apps/easy-mock/data/redis 是 redis 数据⽂件存放地址，根据需要修改为本
地地址
# - '/apps/easy-mock/data/redis:/data'
 networks:
 - easy-mock
 restart: always
 web:
 image: easymock/easymock:1.6.0
# easy-mock 官⽅给出的⽂件，这⾥是 npm start，这⾥修改为 npm run dev
 command: /bin/bash -c "npm run dev"
 ports:
 - 7300:7300
# volumes:
# ⽇志地址，根据需要修改为本地地址
# - '/apps/easy-mock/logs:/home/easy-mock/easy-mock/logs'
 networks:
 - easy-mock
 restart: always
networks:
 easy-mock: